*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content:space-around;
}

.nav-container ul{
    display: inline-flex;
    /* font-size: 1.1rem; */
    
}

.nav-container li{
    padding: 20px;
}

.nav-container a{
    color: rgb(255, 255, 255);
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}